<!-- end modal-shared -->
<div class="modal-popup">
    <div
            class="modal fade"
            id="signupPopupForm"
            tabindex="-1"
            role="dialog"
            aria-hidden="true"
    >
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div>
                        <h5 class="modal-title title" id="exampleModalLongTitle">
                            Sign Up
                        </h5>
                        <p class="font-size-14">Hello! Welcome Create a New Account</p>
                    </div>
                    <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                    >
                        <span aria-hidden="true" class="la la-close"></span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="contact-form-action">
                        <form method="post">
                            <!-- end input-box -->
                            <div class="input-box">
                                <label class="label-text">Fullname</label>
                                <div class="form-group">
                                    <span class="la la-user form-icon"></span>
                                    <input
                                            class="form-control"
                                            type="text"
                                            name="name"
                                            placeholder="Type your fullname"
                                            id="signupfname"
                                    />
                                </div>
                            </div>
                            <div class="input-box">
                                <label class="label-text">Email Address</label>
                                <div class="form-group">
                                    <span class="la la-envelope form-icon"></span>
                                    <input
                                            class="form-control"
                                            type="email"
                                            name="email"
                                            placeholder="Type your email"
                                            id="signupemail"
                                    />
                                </div>
                            </div>
                            <!-- end input-box -->
                            <div class="input-box">
                                <label class="label-text">Password</label>
                                <div class="form-group">
                                    <span class="la la-lock form-icon"></span>
                                    <input
                                            class="form-control"
                                            type="password"
                                            name="password"
                                            placeholder="Type password"
                                            id="signuppass"
                                    />
                                </div>
                            </div>
                            <!-- end input-box -->
                            <div class="input-box">
                                <label class="label-text">Repeat Password</label>
                                <div class="form-group">
                                    <span class="la la-lock form-icon"></span>
                                    <input
                                            class="form-control"
                                            type="password"
                                            name="confirmpassword"
                                            id="signupconfirmpass"
                                            placeholder="Type again password"
                                    />
                                </div>
                            </div>
                            <!-- end input-box -->
                            <div class="btn-box pt-3 pb-4">
                                <button type="button" class="theme-btn w-100" id="signup">
                                    Signup
                                </button>
                                <button  class="theme-btn w-100 d-none" type="button" id="spinner-btn" disabled>
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                    Loading...
                                </button>
                            </div>
                        </form>
                    </div>
                    <!-- end contact-form-action -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end modal-popup -->
