{% extends "layout/layout.html" %}


{% block content %}



    <!-- ================================
        START CARD AREA
    ================================= -->
    <section class="card-area section--padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    {% if result|length >0 %}

                        {% for data in result %}
                            <!-- end row -->
                            <div class="row padding-top-80px">

                                <!-- end col-lg-12 -->
                                <div class="col-lg-6">
                                    <div class="map-container">
                                        <div id="bus-stop-map1" class="map"></div>
                                    </div>
                                    <!-- end map-container -->
                                </div>
                                <!-- end col-lg-6 -->
                                <div class="col-lg-6">
                                    <ul
                                            class="list-group list-group-flush list--group bus-stop-overview padding-left-30px"
                                    >
                                        <li class="list-group-item mx-0 mb-1 active" id="marker_4">
                                            <a
                                                    href="javascript:void(0)"
                                                    class="list-group-link d-flex align-items-center"
                                            >
                                                <i class="la la-map-marker mr-1 icon-marker font-size-24"></i>
                                                Siena (Stazione FS)
                                                <i class="la la-angle-down icon-arrow"></i>
                                            </a>
                                            <div class="bus-stop-overview-content">
                                                <address class="bus-stop-overview-content__address">
                                                    <span>Piazza Carlo Rosselli - stazione FS</span>
                                                    <span>53100 Siena</span>
                                                    <span>Italy</span>
                                                </address>
                                                <div
                                                        class="bus-stop-shop-btn-box pb-4 d-flex flex-wrap align-items-center justify-content-between"
                                                >
                                                    <div class="bus-stop-overview__link mr-4">
                                                        <span>For more information, please see</span>
                                                        <a href="#">Bus schedule and bus stops in Siena</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <!-- end col-lg-6 -->
                            </div>
                            <!-- end row -->

                        {% endfor %}
                    {% else %}
                        <h4 class="text-center">No bus found.</h4>
                    {% endif %}
                    </div><!-- end card-item -->


                </div><!-- end col-lg-8 -->
        </div><!-- end row -->
    </section><!-- end card-area -->
    <!-- ================================
        END CARD AREA
    ================================= -->



{% endblock %}
