{% extends "layout/layout.html" %}

{% block content %}
<!-- ================================
    START BOOKING AREA
================================= -->
<section class="booking-area padding-top-100px padding-bottom-70px">
    <div class="container">
        <div class="row">
            {% if not session.admin or not session.driver %}
            <div class="col-lg-8">
                <div class="form-box">
                    <div class="form-title-wrap">
                        <h3 class="title">Reservation Submission</h3>
                    </div><!-- form-title-wrap -->
                    <div class="form-content ">
                        <div class="contact-form-action">
                            <form method="post" id="reserveform">
                                <div class="row">
                                    <div class="col-lg-6 responsive-column">
                                        <div class="input-box">
                                            <label class="label-text">Your Fullname</label>
                                            <div class="form-group">
                                                <span class="la la-user form-icon"></span>
                                                <input class="form-control" value="{{ session.fullname }}" type="text" name="text" placeholder="Fullname">
                                            </div>
                                        </div>
                                    </div><!-- end col-lg-6 -->
                                    <div class="col-lg-6 responsive-column">
                                        <div class="input-box">
                                            <label class="label-text">Your Email</label>
                                            <div class="form-group">
                                                <span class="la la-envelope-o form-icon"></span>
                                                <input class="form-control" type="email" value="{{ session.email }}" name="email" placeholder="Email address">
                                            </div>
                                        </div>
                                    </div><!-- end col-lg-6 -->
                                </div>
                            </form>
                        </div><!-- end contact-form-action -->
                    </div><!-- end form-content -->
                </div><!-- end form-box -->
                <div class="form-box">
                    <div class="form-title-wrap">
                        <h3 class="title">Your Payment Information</h3>
                    </div><!-- form-title-wrap -->
                    <div class="form-content">
                        <div class="section-tab check-mark-tab text-center pb-4">
                            <ul class="nav nav-tabs justify-content-start" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="paypal-tab" tickets-toggle="tab" href="#paystack" role="tab" aria-controls="paypal" aria-selected="true">
                                        <i class="la la-check icon-element"></i>
                                        <img src="{{ url_for('static', filename='images/paystack.png') }}" style="width:100px" alt="">
                                        <span class="d-block pt-2">Pay with Paystack</span>
                                    </a>
                                </li>
                                <li class="nav-item disabled">
                                    <a class="nav-link disabled" readonly id="payoneer-tab" tickets-toggle="tab" href="#payoneer" role="tab" aria-controls="payoneer" aria-selected="true">
                                        <i class="la la-check icon-element"></i>
                                        <img src="{{ url_for('static', filename='images/wallet.png') }}" alt="" style="width:25px">
                                        <span class="d-block pt-2">Pay with Wallet</span>
                                    </a>
                                </li>
                            </ul>
                        </div><!-- end section-tab -->
                        <div class="tab-content d-none">
                            <div class="tab-pane fade show active" id="paystack" role="tabpanel" aria-labelledby="paypal-tab">
                                <div class="contact-form-action">

                                </div><!-- end contact-form-action -->
                            </div><!-- end tab-pane-->
                            <div class="tab-pane fade" id="payoneer" role="tabpanel" aria-labelledby="payoneer-tab">
                                <div class="contact-form-action">
                                    Coming Soon
                                </div><!-- end contact-form-action -->
                            </div><!-- end tab-pane-->
                        </div><!-- end tab-content -->
                    </div><!-- end form-content -->
                </div><!-- end form-box -->
            </div><!-- end col-lg-8 -->
            <div class="col-lg-4">
                <div class="form-box booking-detail-form">
                    <div class="form-title-wrap">
                        <h3 class="title">Your Reservation</h3>
                    </div><!-- end form-title-wrap -->

                    <div class="form-content">
                        <div class="card-item shadow-none radius-none mb-0">
                            <div class="card-img pb-4">
                                <div class="col-lg-12">
                                    <div class="map-container" >
                                        <div id="bus-stop-map1" style=" height: 300px" class="map"></div>
                                    </div>
                                    <!-- end map-container -->
                                </div>
                            </div>
                            <div class="card-body p-0">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <h3 class="card-title">{{ tickets.routes.start_route.name }} to {{ tickets.routes.end_route.name }}</h3>
                                    </div>
                                    <div>
                                        <a href="/" class="btn ml-1"><i class="la la-edit" data-toggle="tooltip" data-placement="top" title="Change"></i></a>
                                    </div>
                                </div>
                                <div class="section-block"></div>
                                <ul class="list-items list-items-2 list-items-flush py-2">
                                    <li class="font-size-15"><span class="w-auto d-block mb-n1"><i class="la la-calendar mr-1 font-size-17"></i>Availability</span>{{ tickets.availability_date }}</li>
                                    <li class="font-size-15"><span class="w-auto d-block mb-n1"><i class="la la-calendar mr-1 font-size-17"></i>Departure Time</span>{{ tickets.departure_datetime }}</li>
                                    <li class="font-size-15"><span class="w-auto d-block mb-n1"><i class="la la-calendar mr-1 font-size-17"></i>Arrival Time</span>{{ tickets.arrival_datetime }}</li>
                                </ul>
                                <h3 class="card-title pb-3">Order Details</h3>
                                <div class="section-block"></div>
                                <ul class="list-items list-items-2 py-3">
                                    <li><span>Bus Number</span>{{ tickets.bus.name }}</li>

                                    {% for stops in tickets.routes.busstop %}
                                    <li><span>Bus Stop</span>{{ stops.name }}</li>
                                    {% endfor %}
                                    <li><span>Passengers:</span>{{ adult }} adults | {{ children }} children</li>
                                </ul>
                                <div class="section-block"></div>
                                <ul class="list-items list-items-2 pt-3">
                                     {% set total =  (adult|int + children|int) * tickets.fee|int %}
                                    <li><span>Sub Total:</span>{{ currency }}{{ total }}</li>
                                    <li><span>Total Price:</span>{{ currency }}{{ total }}</li>
                                </ul>
                            </div>
                            <form method="post" class="py-3">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="btn-box">
                                            <a href="/reserve?ticket={{ tickets.id }}&adult={{ adult }}&children={{ children }}&departure={{ departure }}" class="theme-btn w-100 text-center"  id="reserve-btn">Continue</a>
{#                                            <button class="theme-btn w-100 d-none" type="button"#}
{#                                                    id="spinner-btn-reserve" disabled>#}
{#                                                    <span class="spinner-border spinner-border-sm" role="status"#}
{#                                                          aria-hidden="true"></span>#}
{#                                                Loading...#}
{#                                            </button>#}
                                        </div>
                                    </div><!-- end col-lg-12 -->
                                </div>
                            </form>
                        </div><!-- end card-item -->
                    </div><!-- end form-content -->
                </div><!-- end form-box -->
            </div><!-- end col-lg-4 -->
            {% else %}
                <div class="col-lg-12">
                <p class="text-center">An account is required to continue, please <a href="javascript:void(0)" data-toggle="modal"
                                                                                     data-target="#loginPopupForm">Login</a> or <a href="javascript:void(0)" data-toggle="modal"
                                                                                                                                   data-target="#signupPopupForm">Signup</a></p>
                </div>
            {% endif %}
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end booking-area -->
<!-- ================================
    END BOOKING AREA
================================= -->

{% endblock %}
