{% extends "layout/layout.html" %}


{% block content %}




    <!-- ================================
        START CARD AREA
    ================================= -->
    <section class="card-area section--padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                        <div class="card-item border hover-y-none margin-top-55px">
                            <div class="card-body">
                                <h3 class="card-title pb-4 font-weight-bold">
                                    Popular bus routes in Lagos
                                </h3>
                              {% if result|length > 0 %}
                                <ul class="list-group list-group-flush list--group">
                                    {% for route in result %}
                                    <li class="list-group-item">
                                        <a
                                                href="#"
                                                class="list-group-link d-flex align-items-center justify-content-between"
                                        >{{ route.start_route.name }} - {{ route.end_route.name }} <i class="la la-angle-right"></i
                                        ></a>
                                    </li>
                                    {% endfor %}
                                </ul>
                                {% else %}
                                <p class="text-center">No data found.</p>
                                {% endif %}
                            </div>
                        </div>
                        <!-- end card-item -->

                </div><!-- end col-lg-12 -->
            </div><!-- end row -->
        </div><!-- end container -->
    </section><!-- end card-area -->
    <!-- ================================
        END CARD AREA
    ================================= -->

    <div class="section-block"></div>

    <!-- ================================
        START INFO AREA
    ================================= -->


{% endblock %}
