{% extends "layout/layout.html" %}


{% block content %}


    <!-- ================================
    START SCHEDULE AREA
================================= -->
    <section class="schedule-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                </div>
                <!-- end col-lg-12 -->
                <div class="col-lg-12">
                    {% if result|length >0 %}
                    <div class="routes">
                        {% for data in result %}
                        <div class="route-item">
                            <div class="row align-items-center">
                                <div class="col-lg-3">
                                    <div class="route-inner-item media align-items-center">
                                        <div class="route-icon mr-4 pl-3">
                                            <i class="la la-bus la-4x text-color-9"></i>
                                        </div>
                                        <!-- end route-icon -->
                                        <div class="media-body">
                                            <div
                                                    class="time-wrap font-size-18 font-weight-medium text-black"
                                            >
                                                <span class="departure-time">{{ data.departure_datetime }}</span>
                                                <i class="la la-arrow-right mx-1 text-color"></i>
                                                <span class="arrival-time">{{ data.arrival_datetime }}</span>
                                            </div>
                                            <div class="time-wrap font-size-13">
                          <span class="travel-time">
                            <i class="la la-clock"></i>
                            <span>2:15</span>h
                          </span>
                                                <span class="travel-time">
                            <i class="la la-map-marker"></i>
                            <span>0</span>
                          </span>
                                            </div>
                                        </div>
                                        <!-- end media-body -->
                                    </div>
                                    <!-- end media -->
                                </div>
                                <!-- end col-lg-3 -->
                                <div class="col-lg-2">
                                    <div class="route-inner-item media">
                                        <div class="media-body">
                                            <div
                                                    class="price-wrap font-size-18 font-weight-medium text-black"
                                            >
                                                <span class="value text-color">{{ data.fee }}</span>
                                                <span class="currency text-gray font-weight-regular"
                                                >{{ currency }}</span
                                                >
                                            </div>
                                            <div class="number-of-pass-wrap font-size-13">
                          <span class="number-of-pass">
                            <i class="la la-user"></i>
                            <span>1</span>
                          </span>
                                            </div>
                                        </div>
                                        <!-- end media-body -->
                                    </div>
                                    <!-- end media -->
                                </div>
                                <!-- end col-lg-2 -->
                                <div class="col-lg-3">
                                    <div class="route-inner-item media">
                                        <div class="media-body">
                                            <div class="features">
                                                <i class="la la-wifi mr-1" title="Wi-fi"></i>
                                                <i class="la la-television mr-1" title="TV"></i>
                                                <i class="la la-air-freshener mr-1" title="AC"></i>
                                            </div>
                                        </div>
                                        <!-- end media-body -->
                                    </div>
                                    <!-- end media -->
                                </div>
                                <!-- end col-lg-3 -->
                                <div class="col-lg-2">
                                    <div class="route-inner-item media eticket"></div>
                                    <!-- end media -->
                                </div>
                                <!-- end col-lg-2 -->
                                <div class="col-lg-2">
                                    <div class="select-route-btn-box text-right">
                                        <a
                                                class="theme-btn theme-btn-small"
                                                type="submit"
                                                href="#"
                                        >Search<i class="la la-arrow-right ml-1"></i
                                        ></a>
                                    </div>
                                    <!-- end select-route-btn-box -->
                                </div>
                                <!-- end col-lg-2 -->
                            </div>
                            <!-- end row -->
                        </div>
                        {% endfor %}
                        {% else %}
                        <h4 class="text-center">No bus found.</h4>
                    {% endif %}
                    </div>
                    <!-- end routes -->
                </div>
                <!-- end col-lg-12 -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
    <!-- ================================
    END SCHEDULE AREA
================================= -->



{% endblock %}
