<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="author" content="NK">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ session.fullname }} - {{ path }}</title>
    <!-- Favicon -->
    <link rel="icon" href="{{ url_for('static', filename='images/brt-logo.png') }}">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&amp;display=swap"
          rel="stylesheet">

    <!-- Template CSS Files -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-select.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/line-awesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.theme.default.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.fancybox.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/daterangepicker.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animated-headline.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flag-icon.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/toastr/toastr.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/leaflet.css') }}" />
</head>
<body class="section-bg">
<!-- start cssload-loader -->
{% include "layout/preloader.html" %}


<!-- ================================
       START DASHBOARD NAV
================================= -->
<div class="sidebar-nav sidebar--nav">
    <div class="sidebar-nav-body">
        <div class="side-menu-close">
            <i class="la la-times"></i>
        </div><!-- end menu-toggler -->
        <div class="author-content">
            <div class="d-flex align-items-center">
                <div class="author-bio">
                    <h4 class="author__title">{{ session.fullname }}</h4>
                    <span class="author__meta">Welcome to Admin Panel</span>
                </div>
            </div>
        </div>
        <div class="sidebar-menu-wrap">
            <ul class="sidebar-menu toggle-menu list-items">
                <li class="{% if route == "/control/overview" %}page-active {% endif %} "><a href="/control/overview"><i
                        class="la la-dashboard mr-2"></i>Overview</a></li>
            {% if session.driver or session.admin %}
                <li class="{% if route == "/control/reservations/list" or route == "/control/reservations/search"  %}page-active active{% endif %} ">
                    <span class="side-menu-icon toggle-menu-icon">
                        <i class="la la-angle-down"></i>
                    </span>
                    <a href="#"><i class="la la-calendar-check mr-2 text-color-11"></i>Reservations</a>
                    <ul class="toggle-drop-menu" {% if route == "/control/reservations/list" or route == "/control/reservations/search" or route == "/control/reservations/search-result"  %}style="display:block" {% endif %}>
                        <li class="{% if route == "/control/ticket/list" %} page-active {% endif %} "><a href="/control/reservations/list">List</a></li>
                        <li class="{% if route == "/control/ticket/search" %} page-active {% endif %} "><a href="/control/reservations/search">Search</a></li>
                    </ul>
                </li>
            {% endif %}
                {% if  session.admin %}
                <li class="{% if route == "/control/bus/stop/add" or route == "/control/bus/add" or route == "/control/bus/list" or route == "/control/bus/stops" %}page-active active{% endif %} ">
                    <span class="side-menu-icon toggle-menu-icon">
                        <i class="la la-angle-down"></i>
                    </span>
                    <a href="#"><i class="la la-bus mr-2 text-color-9"></i>Bus</a>
                    <ul class="toggle-drop-menu"
                        {% if route == "/control/bus/add" or route == "/control/bus/list" or route == "/control/bus/stops" or route == "/control/bus/stop/add" %}style="display:block" {% endif %}>
                        <li class="{% if route == "/control/bus/add" %}page-active {% endif %} ">
                            <a href="/control/bus/add">Add bus</a>
                        </li>
                        <li class="{% if route == "/control/bus/list" %}page-active {% endif %} "><a
                                href="/control/bus/list">List bus</a></li>
                        <li class="{% if route == "/control/bus/add" %}page-active {% endif %} ">
                            <a href="/control/bus/stop/add">Add bus stop</a>
                        </li>
                        <li class="{% if route == "/control/bus/stops" %}page-active {% endif %} "><a
                                href="/control/bus/stops">Bus stop list</a></li>
                    </ul>
                </li>
                <li class="{% if route == "/control/routes/add" or route == "/control/routes/list" %}page-active active{% endif %} ">
                    <span class="side-menu-icon toggle-menu-icon">
                        <i class="la la-angle-down"></i>
                    </span>
                    <a href="#"><i class="la la-location-arrow mr-2 text-color-8"></i>Routes</a>
                    <ul class="toggle-drop-menu"
                        {% if route == "/control/routes/add" or route == "/control/routes/list" %}style="display:block" {% endif %}>
                        <li class="{% if route == "/control/routes/add" %}page-active {% endif %} "><a
                                href="/control/routes/add">Add</a></li>
                        <li class="{% if  route == "/control/routes/list" %}page-active {% endif %} "><a
                                href="/control/routes/list">List</a></li>
                    </ul>
                </li>
                <li class="{% if route == "/control/ticket/add" or route == "/control/ticket/list" %}page-active active{% endif %} ">
                    <span class="side-menu-icon toggle-menu-icon">
                        <i class="la la-angle-down"></i>
                    </span>
                    <a href="#"><i class="la la-ticket mr-2 text-color-5"></i>Tickets</a>
                    <ul class="toggle-drop-menu"
                        {% if route == "/control/ticket/add" or route == "/control/ticket/list" %}style="display:block" {% endif %}>
                        <li class="{% if route == "/control/ticket/add" %}page-active {% endif %} "><a
                                href="/control/ticket/add">Add</a></li>
                        <li class="{% if route == "/control/ticket/list" %} page-active {% endif %} "><a
                                href="/control/ticket/list">List</a></li>

                    </ul>
                </li>
                <li class="{% if route == "/control/users" %}page-active {% endif %} "><a href="/control/users"><i
                        class="la la-calendar-check mr-2 text-color-11"></i>Users</a></li>
                <li class="{% if route == "/control/transactions" %}page-active {% endif %} "><a
                        href="/control/transactions"><i class="la la-money mr-2 text-color-3"></i>Transactions</a></li>
                                <li class="{% if route == "/control/settings"   %}page-active {% endif %} "><a href="/control/settings"><i class="la la-cog mr-2 text-color-10"></i>Settings</a></li>

            {% endif %}
                <li><a href="/control/logout"><i class="la la-power-off mr-2 text-color-11"></i>Logout</a></li>
            </ul>
        </div><!-- end sidebar-menu-wrap -->
    </div>
</div><!-- end sidebar-nav -->
<!-- ================================
       END DASHBOARD NAV
================================= -->

<section class="dashboard-area">
    {% include "layout/control-nav.html" %}
    <div class="dashboard-content-wrap">
        {% include "layout/control-breadcrumb.html" %}
        {% block content %}{% endblock %}
        <div class="border-top mt-5"></div>
    </div><!-- end dashboard-content-wrap -->
</section><!-- end dashboard-area -->


<!-- start scroll top -->
<div id="back-to-top">
    <i class="la la-angle-up" title="Go top"></i>
</div>
<!-- end scroll top -->

<!-- Template JS Files -->
<script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>
<script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/toastr/toastr.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-select.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
<script  src="{{ url_for('static', filename='js/leaflet.js') }}" ></script>
<script src="{{ url_for('static', filename='js/bus-stop-map.js') }}"></script>
<script src="{{ url_for('static', filename='js/daterangepicker.js') }}"></script>
<script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.fancybox.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.countTo.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/animated-headline.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.ripples-min.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script src="{{ url_for('static', filename='script/helpers.js') }}"></script>
<script src="{{ url_for('static', filename='script/script.js') }}"></script>
</body>
</html>
